<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: name}) %>

	<body>
		<!-- Header -->
		<%- include('partials/headerNavbar') %>
			<!-- /Header -->

			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Detalle del producto: <%= name %>
						</h2>
					</div>
				</div>
				<div class="product-detail">
					<div class="row">
						<div class="col-12 col-lg-8">
							<img src="/images/products/<%= image || 'default-image.png' %>" alt="product image"
								class="product-detail-img">
							<p class="product-detail-description">
								<%= description.replace(/\n/g, "- " ) %>
							</p>
						</div>
						<div class="col-12 col-lg-4">
							<article class="product-detail-info">
								<h2 class="product-detail-title">
									<%= name %>
								</h2>
								<% if (discount) { %>
									<p class="product-detail-price small">
										<span>
											<%= toThousand(price) %>
										</span>
										/
										<b>
											<%= discount %>% OFF
										</b>
									</p>
									<p class="product-detail-price">
										$ <%= toThousand(Math.round(price - (price*discount/100))) %>
									</p>
									<% } else { %>

										<p class="product-detail-price">
											<%= toThousand(price) %>
										</p>
										<% } %>

											<ul class="actions-list">
												<li>
													<i class="fas fa-credit-card"></i>
													<p>Pagá en 12 cuotas sin interes</p>
												</li>
												<li>
													<i class="fas fa-store"></i>
													<p>Retiro gratis en locales del vendedor</p>
												</li>
											</ul>

											<a href="#" class="buy-now-button">COMPRAR AHORA</a>

											<a href="/products/edit/<%= id %>" class="action-button edit">EDITAR
												PRODUCTO</a>
											<form action="/products/delete/<%= id %>?_method=DELETE" method="POST"
												style="display: inline-flex">

												<!-- BOTÓN MODAL -->
												<button type="button" class="action-button delete"
													data-bs-toggle="modal" data-bs-target="#staticBackdrop">
													ELIMINAR
												</button>

												<!-- MODAL DELETE -->
												<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
													data-bs-keyboard="false" tabindex="-1"
													aria-labelledby="staticBackdropLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h1 class="modal-title fs-5" id="staticBackdropLabel">
																	Eliminar producto</h1>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<p class="products-title">¿Seguro que desea eliminar el
																	producto: <span class="products-title__name">
																		<%= name %>
																	</span>?</p>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-primary"
																	data-bs-dismiss="modal">Cerrar</button>
																<button type="submit"
																	class="btn btn-danger">Eliminar</button>
															</div>
														</div>
													</div>
												</div>
												<!-- MODAL -->

											</form>
							</article>
						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->

			<!-- footer -->
			<%- include('partials/footer') %>
				<!-- /footer -->

	</body>

</html>